#galleria
  %a{href: "http://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Locomotives-Roundhouse2.jpg/800px-Locomotives-Roundhouse2.jpg"}
    = image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Locomotives-Roundhouse2.jpg/100px-Locomotives-Roundhouse2.jpg", :"data-title" => "Locomotives Roundhouse", :"data-description" => "Steam locomotives of the Chicago &amp; North Western Railway."

// Load the classic theme
Galleria.loadTheme('gallery/galleria/classic.min.js');

// Initialize Galleria
Galleria.run('#galleria');
